vmCpuNum            = 2
vmMemSize           = 4096
vsphereCluster      = ""
floppyInitPath      = "./setup"
OSVersion           = "2022"
vsphereNetwork      = ""
vSphereIsoPath      = ""
vmPassword          = ""
vmDiskSize          = ""
vspherePassword     = ""
vsphereUser         = ""
vsphereServer       = ""
vsphereFolder       = ""
vsphereDatastore    = ""
vsphereDatacenter   = "DC1"
vmName              = ""
CL                  = "ContentLib"
